@font-face {
  font-family: 'Newsreader';
  src: url('../assets/webfonts/Newsreader-Light.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Newsreader';
  src: url('../assets/webfonts/Newsreader-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Newsreader';
  src: url('../assets/webfonts/Newsreader-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Newsreader';
  src: url('../assets/webfonts/Newsreader-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Newsreader';
  src: url('../assets/webfonts/Newsreader-LightItalic.woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Newsreader';
  src: url('../assets/webfonts/Newsreader-Italic.woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Newsreader';
  src: url('../assets/webfonts/Newsreader-MediumItalic.woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Newsreader';
  src: url('../assets/webfonts/Newsreader-BoldItalic.woff2');
  font-weight: 700;
  font-style: italic;
}
