@use "colorGlobals" as cg;
  $color-alias-background-default: cg.$color-global-gray-100;
  $color-alias-background-disabled: cg.$color-global-gray-200;
  $color-alias-background-transparent: transparent;
  $color-alias-background-over-background-down: rgba(255,255,255,0.2);
  $color-alias-background-quickactions-overlay: rgba(0,0,0,0.2);
  $color-alias-placeholder-text: cg.$color-global-gray-800;
  $color-alias-placeholder-text-hover: cg.$color-global-gray-900;
  $color-alias-placeholder-text-down: cg.$color-global-gray-900;
  $color-alias-placeholder-text-selected: cg.$color-global-gray-800;
  $color-alias-label-text: cg.$color-global-gray-700;
  $color-alias-text: cg.$color-global-gray-800;
  $color-alias-text-hover: cg.$color-global-gray-900;
  $color-alias-text-down: cg.$color-global-gray-900;
  $color-alias-text-key-focus: cg.$color-global-blue-600;
  $color-alias-text-mouse-focus: cg.$color-global-blue-600;
  $color-alias-text-disabled: cg.$color-global-gray-500;
  $color-alias-text-invalid: cg.$color-global-red-500;
  $color-alias-text-selected: cg.$color-global-blue-600;
  $color-alias-text-selected-neutral: cg.$color-global-gray-900;
  $color-alias-text-over-background: cg.$color-global-static-white;
  $color-alias-text-over-background-disabled: rgba(255,255,255,0.2);
  $color-alias-heading-text: cg.$color-global-gray-900;
  $color-alias-border: cg.$color-global-gray-400;
  $color-alias-border-hover: cg.$color-global-gray-500;
  $color-alias-border-down: cg.$color-global-gray-500;
  $color-alias-border-focus: cg.$color-global-blue-400;
  $color-alias-border-mouse-focus: cg.$color-global-blue-500;
  $color-alias-border-disabled: cg.$color-global-gray-200;
  $color-alias-border-extralight: cg.$color-global-gray-100;
  $color-alias-border-light: cg.$color-global-gray-200;
  $color-alias-border-mid: cg.$color-global-gray-300;
  $color-alias-border-dark: cg.$color-global-gray-400;
  $color-alias-border-darker-default: cg.$color-global-gray-600;
  $color-alias-border-darker-hover: cg.$color-global-gray-900;
  $color-alias-border-darker-down: cg.$color-global-gray-900;
  $color-alias-border-transparent: transparent;
  $color-alias-border-translucent-dark: rgba(0,0,0,0.05);
  $color-alias-border-translucent-darker: rgba(0,0,0,0.1);
  $color-alias-focus: cg.$color-global-blue-400;
  $color-alias-focus-ring: $color-alias-focus;
  $color-alias-track-default: cg.$color-global-gray-300;
  $color-alias-track-disabled: cg.$color-global-gray-300;
  $color-alias-track-over-background: rgba(255,255,255,0.2);
  $color-alias-icon: cg.$color-global-gray-700;
  $color-alias-icon-over-background: cg.$color-global-static-white;
  $color-alias-icon-hover: cg.$color-global-gray-900;
  $color-alias-icon-down: cg.$color-global-gray-900;
  $color-alias-icon-focus: cg.$color-global-gray-900;
  $color-alias-icon-disabled: cg.$color-global-gray-400;
  $color-alias-icon-over-background-disabled: rgba(255,255,255,0.2);
  $color-alias-icon-selected-neutral: cg.$color-global-gray-900;
  $color-alias-icon-selected: cg.$color-global-blue-500;
  $color-alias-icon-selected-hover: cg.$color-global-blue-600;
  $color-alias-icon-selected-down: cg.$color-global-blue-700;
  $color-alias-icon-selected-focus: cg.$color-global-blue-600;
  $color-alias-image-opacity-disabled: cg.$color-global-opacity-30;
  $color-alias-toolbar-background: cg.$color-global-gray-100;
  $color-aliashandle-outer-border: rgba(0,0,0,0.42);
  $color-alias-code-highlight-default: cg.$color-global-gray-800;
  $color-alias-code-highlight-background: cg.$color-global-gray-75;
  $color-alias-code-highlight-keyword: cg.$color-global-fuchsia-600;
  $color-alias-code-highlight-section: cg.$color-global-red-600;
  $color-alias-code-highlight-literal: cg.$color-global-blue-600;
  $color-alias-code-highlight-attribute: cg.$color-global-seafoam-600;
  $color-alias-code-highlight-class: cg.$color-global-magenta-600;
  $color-alias-code-highlight-variable: cg.$color-global-purple-600;
  $color-alias-code-highlight-title: cg.$color-global-indigo-600;
  $color-alias-code-highlight-string: cg.$color-global-fuchsia-600;
  $color-alias-code-highlight-function: cg.$color-global-blue-600;
  $color-alias-code-highlight-comment: cg.$color-global-gray-700;
  $color-alias-categorical-1: cg.$color-global-static-seafoam-200;
  $color-alias-categorical-2: cg.$color-global-static-indigo-700;
  $color-alias-categorical-3: cg.$color-global-static-orange-500;
  $color-alias-categorical-4: cg.$color-global-static-magenta-500;
  $color-alias-categorical-5: cg.$color-global-static-indigo-200;
  $color-alias-categorical-6: cg.$color-global-static-celery-200;
  $color-alias-categorical-7: cg.$color-global-static-blue-500;
  $color-alias-categorical-8: cg.$color-global-static-purple-800;
  $color-alias-categorical-9: cg.$color-global-static-yellow-500;
  $color-alias-categorical-10: cg.$color-global-static-orange-700;
  $color-alias-categorical-11: cg.$color-global-static-green-600;
  $color-alias-categorical-12: cg.$color-global-static-chartreuse-300;
  $color-alias-categorical-13: cg.$color-global-static-blue-200;
  $color-alias-categorical-14: cg.$color-global-static-fuchsia-500;
  $color-alias-categorical-15: cg.$color-global-static-magenta-200;
  $color-alias-categorical-16: cg.$color-global-static-yellow-200;

