@use "colorGlobals" as cg;
  $color-semantic-negative-background: cg.$color-global-static-red-700;
  $color-semantic-negative-default: cg.$color-global-red-500;
  $color-semantic-negative-state-hover: cg.$color-global-red-600;
  $color-semantic-negative-dark: cg.$color-global-red-600;
  $color-semantic-negative-border: cg.$color-global-red-400;
  $color-semantic-negative-icon: cg.$color-global-red-600;
  $color-semantic-negative-status: cg.$color-global-red-400;
  $color-semantic-negative-text-large: cg.$color-global-red-500;
  $color-semantic-negative-text-small: cg.$color-global-red-600;
  $color-semantic-negative-state-down: cg.$color-global-red-700;
  $color-semantic-negative-state-focus: cg.$color-global-red-400;
  $color-semantic-negative-background-default: cg.$color-global-static-red-600;
  $color-semantic-negative-background-hover: cg.$color-global-static-red-700;
  $color-semantic-negative-background-down: cg.$color-global-static-red-800;
  $color-semantic-negative-background-key-focus: cg.$color-global-static-red-700;
  $color-semantic-notice-background: cg.$color-global-static-orange-700;
  $color-semantic-notice-default: cg.$color-global-orange-500;
  $color-semantic-notice-dark: cg.$color-global-orange-600;
  $color-semantic-notice-border: cg.$color-global-orange-400;
  $color-semantic-notice-icon: cg.$color-global-orange-600;
  $color-semantic-notice-status: cg.$color-global-orange-400;
  $color-semantic-notice-text-large: cg.$color-global-orange-500;
  $color-semantic-notice-text-small: cg.$color-global-orange-600;
  $color-semantic-notice-state-down: cg.$color-global-orange-700;
  $color-semantic-notice-state-focus: cg.$color-global-orange-400;
  $color-semantic-notice-background-default: cg.$color-global-static-orange-600;
  $color-semantic-notice-background-hover: cg.$color-global-static-orange-700;
  $color-semantic-notice-background-down: cg.$color-global-static-orange-800;
  $color-semantic-notice-background-key-focus: cg.$color-global-static-orange-700;
  $color-semantic-positive-background: cg.$color-global-static-green-700;
  $color-semantic-positive-default: cg.$color-global-green-500;
  $color-semantic-positive-dark: cg.$color-global-green-600;
  $color-semantic-positive-border: cg.$color-global-green-400;
  $color-semantic-positive-icon: cg.$color-global-green-600;
  $color-semantic-positive-status: cg.$color-global-green-400;
  $color-semantic-positive-text-large: cg.$color-global-green-500;
  $color-semantic-positive-text-small: cg.$color-global-green-600;
  $color-semantic-positive-state-down: cg.$color-global-green-700;
  $color-semantic-positive-state-focus: cg.$color-global-green-400;
  $color-semantic-positive-background-default: cg.$color-global-static-green-600;
  $color-semantic-positive-background-hover: cg.$color-global-static-green-700;
  $color-semantic-positive-background-down: cg.$color-global-static-green-800;
  $color-semantic-positive-background-key-focus: cg.$color-global-static-green-700;
  $color-semantic-informative-background: cg.$color-global-static-blue-700;
  $color-semantic-informative-default: cg.$color-global-blue-500;
  $color-semantic-informative-dark: cg.$color-global-blue-600;
  $color-semantic-informative-border: cg.$color-global-blue-400;
  $color-semantic-informative-icon: cg.$color-global-blue-600;
  $color-semantic-informative-status: cg.$color-global-blue-400;
  $color-semantic-informative-text-large: cg.$color-global-blue-500;
  $color-semantic-informative-text-small: cg.$color-global-blue-600;
  $color-semantic-informative-state-down: cg.$color-global-blue-700;
  $color-semantic-informative-state-focus: cg.$color-global-blue-400;
  $color-semantic-informative-background-default: cg.$color-global-static-blue-600;
  $color-semantic-informative-background-hover: cg.$color-global-static-blue-700;
  $color-semantic-informative-background-down: cg.$color-global-static-blue-800;
  $color-semantic-informative-background-key-focus: cg.$color-global-static-blue-700;
  $color-semantic-cta-background-default: cg.$color-global-static-blue-600;
  $color-semantic-cta-background-hover: cg.$color-global-static-blue-700;
  $color-semantic-cta-background-down: cg.$color-global-static-blue-800;
  $color-semantic-cta-background-key-focus: cg.$color-global-static-blue-600;
  $color-semantic-neutral-background-default: cg.$color-global-static-gray-700;
  $color-semantic-neutral-background-hover: cg.$color-global-static-gray-800;
  $color-semantic-neutral-background-down: cg.$color-global-static-gray-900;
  $color-semantic-neutral-background-key-focus: cg.$color-global-static-gray-800;
  $color-semantic-presence-1: cg.$color-global-static-red-500;
  $color-semantic-presence-2: cg.$color-global-static-orange-400;
  $color-semantic-presence-3: cg.$color-global-static-yellow-400;
  $color-semantic-presence-4: rgb(75, 204, 162);
  $color-semantic-presence-5: rgb(0, 199, 255);
  $color-semantic-presence-6: rgb(0, 140, 184);
  $color-semantic-presence-7: rgb(126, 75, 243);
  $color-semantic-presence-8: cg.$color-global-static-fuchsia-600;
