@use "dimensionGlobals" as dg;
$dimension-alias-dropshadow-blur: dg.$dimension-global-size-50;
$dimension-alias-dropshadow-offset-y: dg.$dimension-global-size-10;
$dimension-alias-font-size-default: dg.$dimension-global-font-size-100;
$dimension-alias-layout-label-gap-size: dg.$dimension-global-size-100;
$dimension-alias-pill-button-text-size: dg.$dimension-global-font-size-100;
$dimension-alias-pill-button-text-baseline: dg.$dimension-global-static-size-150;
$dimension-alias-border-radius-xsmall: dg.$dimension-global-size-10;
$dimension-alias-border-radius-small: dg.$dimension-global-size-25;
$dimension-alias-border-radius-regular: dg.$dimension-global-size-50;
$dimension-alias-border-radius-medium: dg.$dimension-global-size-100;
$dimension-alias-border-radius-large: dg.$dimension-global-size-200;
$dimension-alias-single-line-height: dg.$dimension-global-size-400;
$dimension-alias-single-line-width: dg.$dimension-global-size-2400;
$dimension-alias-item-height-s: dg.$dimension-global-size-300;
$dimension-alias-item-height-m: dg.$dimension-global-size-400;
$dimension-alias-item-height-l: dg.$dimension-global-size-500;
$dimension-alias-item-height-xl: dg.$dimension-global-size-600;
$dimension-alias-item-rounded-border-radius-s: dg.$dimension-global-size-150;
$dimension-alias-item-rounded-border-radius-m: dg.$dimension-global-size-200;
$dimension-alias-item-rounded-border-radius-l: dg.$dimension-global-size-250;
$dimension-alias-item-rounded-border-radius-xl: dg.$dimension-global-size-300;
$dimension-alias-item-text-size-s: dg.$dimension-global-font-size-75;
$dimension-alias-item-text-size-m: dg.$dimension-global-font-size-100;
$dimension-alias-item-text-size-l: dg.$dimension-global-font-size-200;
$dimension-alias-item-text-size-xl: dg.$dimension-global-font-size-300;
$dimension-alias-item-text-padding-top-s: dg.$dimension-global-static-size-50;
$dimension-alias-item-text-padding-top-m: dg.$dimension-global-size-75;
$dimension-alias-item-text-padding-top-xl: dg.$dimension-global-size-150;
$dimension-alias-item-text-padding-bottom-m: dg.$dimension-global-size-115;
$dimension-alias-item-text-padding-bottom-l: dg.$dimension-global-size-130;
$dimension-alias-item-text-padding-bottom-xl: dg.$dimension-global-size-175;
$dimension-alias-item-icon-padding-top-s: dg.$dimension-global-size-50;
$dimension-alias-item-icon-padding-top-m: dg.$dimension-global-size-85;
$dimension-alias-item-icon-padding-top-l: dg.$dimension-global-size-125;
$dimension-alias-item-icon-padding-top-xl: dg.$dimension-global-size-160;
$dimension-alias-item-icon-padding-bottom-s: dg.$dimension-global-size-50;
$dimension-alias-item-icon-padding-bottom-m: dg.$dimension-global-size-85;
$dimension-alias-item-icon-padding-bottom-l: dg.$dimension-global-size-125;
$dimension-alias-item-icon-padding-bottom-xl: dg.$dimension-global-size-160;
$dimension-alias-item-mark-padding-top-s: dg.$dimension-global-size-40;
$dimension-alias-item-mark-padding-top-l: dg.$dimension-global-size-115;
$dimension-alias-item-mark-padding-top-xl: dg.$dimension-global-size-130;
$dimension-alias-item-mark-padding-bottom-s: dg.$dimension-global-size-40;
$dimension-alias-item-mark-padding-bottom-l: dg.$dimension-global-size-115;
$dimension-alias-item-mark-padding-bottom-xl: dg.$dimension-global-size-130;
$dimension-alias-item-padding-s: dg.$dimension-global-size-115;
$dimension-alias-item-padding-m: dg.$dimension-global-size-150;
$dimension-alias-item-padding-l: dg.$dimension-global-size-185;
$dimension-alias-item-padding-xl: dg.$dimension-global-size-225;
$dimension-alias-item-rounded-padding-s: dg.$dimension-global-size-150;
$dimension-alias-item-rounded-padding-m: dg.$dimension-global-size-200;
$dimension-alias-item-rounded-padding-l: dg.$dimension-global-size-250;
$dimension-alias-item-rounded-padding-xl: dg.$dimension-global-size-300;
$dimension-alias-item-icononly-padding-s: dg.$dimension-global-size-50;
$dimension-alias-item-icononly-padding-m: dg.$dimension-global-size-85;
$dimension-alias-item-icononly-padding-l: dg.$dimension-global-size-125;
$dimension-alias-item-icononly-padding-xl: dg.$dimension-global-size-160;
$dimension-alias-item-workflow-padding-left-s: dg.$dimension-global-size-85;
$dimension-alias-item-workflow-padding-left-l: dg.$dimension-global-size-160;
$dimension-alias-item-workflow-padding-left-xl: dg.$dimension-global-size-185;
$dimension-alias-item-rounded-workflow-padding-left-s: dg.$dimension-global-size-125;
$dimension-alias-item-rounded-workflow-padding-left-l: dg.$dimension-global-size-225;
$dimension-alias-item-mark-padding-left-s: dg.$dimension-global-size-85;
$dimension-alias-item-mark-padding-left-l: dg.$dimension-global-size-160;
$dimension-alias-item-mark-padding-left-xl: dg.$dimension-global-size-185;
$dimension-alias-item-control-1-size-s: dg.$dimension-global-static-size-100;
$dimension-alias-item-control-1-size-m: dg.$dimension-global-size-100;
$dimension-alias-item-control-2-size-m: dg.$dimension-global-size-175;
$dimension-alias-item-control-2-size-l: dg.$dimension-global-size-200;
$dimension-alias-item-control-2-size-xl: dg.$dimension-global-size-225;
$dimension-alias-item-control-2-size-xxl: dg.$dimension-global-size-250;
$dimension-alias-item-control-3-height-m: dg.$dimension-global-size-175;
$dimension-alias-item-control-3-height-l: dg.$dimension-global-size-200;
$dimension-alias-item-control-3-height-xl: dg.$dimension-global-size-225;
$dimension-alias-item-mark-size-s: dg.$dimension-global-size-225;
$dimension-alias-item-mark-size-l: dg.$dimension-global-size-275;
$dimension-alias-item-mark-size-xl: dg.$dimension-global-size-325;
$dimension-alias-workflow-icon-size-s: dg.$dimension-global-size-200;
$dimension-alias-workflow-icon-size-m: dg.$dimension-global-size-225;
$dimension-alias-workflow-icon-size-xl: dg.$dimension-global-size-275;
$dimension-alias-ui-icon-alert-size-75: dg.$dimension-global-size-200;
$dimension-alias-ui-icon-alert-size-100: dg.$dimension-global-size-225;
$dimension-alias-ui-icon-alert-size-200: dg.$dimension-global-size-250;
$dimension-alias-ui-icon-alert-size-300: dg.$dimension-global-size-275;
$dimension-alias-ui-icon-triplegripper-size-100-height: dg.$dimension-global-size-100;
$dimension-alias-ui-icon-doublegripper-size-100-width: dg.$dimension-global-size-200;
$dimension-alias-ui-icon-singlegripper-size-100-width: dg.$dimension-global-size-300;
$dimension-alias-ui-icon-cornertriangle-size-75: dg.$dimension-global-size-65;
$dimension-alias-ui-icon-cornertriangle-size-200: dg.$dimension-global-size-75;
$dimension-alias-ui-icon-asterisk-size-75: dg.$dimension-global-static-size-100;
$dimension-alias-ui-icon-asterisk-size-100: dg.$dimension-global-size-100;
$dimension-alias-item-control-gap-s: dg.$dimension-global-size-115;
$dimension-alias-item-control-gap-m: dg.$dimension-global-size-125;
$dimension-alias-item-control-gap-l: dg.$dimension-global-size-130;
$dimension-alias-item-control-gap-xl: dg.$dimension-global-size-160;
$dimension-alias-item-workflow-icon-gap-s: dg.$dimension-global-size-85;
$dimension-alias-item-workflow-icon-gap-m: dg.$dimension-global-size-100;
$dimension-alias-item-workflow-icon-gap-l: dg.$dimension-global-size-115;
$dimension-alias-item-workflow-icon-gap-xl: dg.$dimension-global-size-125;
$dimension-alias-item-mark-gap-s: dg.$dimension-global-size-85;
$dimension-alias-item-mark-gap-m: dg.$dimension-global-size-100;
$dimension-alias-item-mark-gap-l: dg.$dimension-global-size-115;
$dimension-alias-item-mark-gap-xl: dg.$dimension-global-size-125;
$dimension-alias-item-ui-icon-gap-s: dg.$dimension-global-size-85;
$dimension-alias-item-ui-icon-gap-m: dg.$dimension-global-size-100;
$dimension-alias-item-ui-icon-gap-l: dg.$dimension-global-size-115;
$dimension-alias-item-ui-icon-gap-xl: dg.$dimension-global-size-125;
$dimension-alias-item-clearbutton-gap-s: dg.$dimension-global-size-50;
$dimension-alias-item-clearbutton-gap-m: dg.$dimension-global-size-85;
$dimension-alias-item-clearbutton-gap-l: dg.$dimension-global-size-125;
$dimension-alias-item-clearbutton-gap-xl: dg.$dimension-global-size-150;
$dimension-alias-heading-xxxl-text-size: dg.$dimension-global-font-size-1300;

$dimension-alias-heading-xxxl-margin-top: dg.$dimension-global-font-size-1200;
$dimension-alias-heading-xxl-text-size: dg.$dimension-global-font-size-1100;
$dimension-alias-heading-xxl-margin-top: dg.$dimension-global-font-size-900;

$dimension-alias-heading-xl-text-size: dg.$dimension-global-font-size-900;
$dimension-alias-heading-xl-margin-top: dg.$dimension-global-font-size-800;

$dimension-alias-heading-l-text-size: dg.$dimension-global-font-size-700;
$dimension-alias-heading-l-margin-top: dg.$dimension-global-font-size-600;

$dimension-alias-heading-m-text-size: dg.$dimension-global-font-size-500;
$dimension-alias-heading-m-margin-top: dg.$dimension-global-font-size-400;

$dimension-alias-heading-s-text-size: dg.$dimension-global-font-size-300;
$dimension-alias-heading-s-margin-top: dg.$dimension-global-font-size-200;
$dimension-alias-heading-xs-text-size: dg.$dimension-global-font-size-200;
$dimension-alias-heading-xs-margin-top: dg.$dimension-global-font-size-100;
$dimension-alias-heading-xxs-text-size: dg.$dimension-global-font-size-100;
$dimension-alias-heading-xxs-margin-top: dg.$dimension-global-font-size-75;
$dimension-alias-avatar-size-50: dg.$dimension-global-size-200;
$dimension-alias-avatar-size-75: dg.$dimension-global-size-225;
$dimension-alias-avatar-size-200: dg.$dimension-global-size-275;
$dimension-alias-avatar-size-300: dg.$dimension-global-size-325;
$dimension-alias-avatar-size-500: dg.$dimension-global-size-400;
$dimension-alias-avatar-size-700: dg.$dimension-global-size-500;

