<!DOCTYPE html>

<html lang="en" style="overflow: hidden;">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>proto-bm - Matrix Table</title>
    <link rel="icon" href="../assets/logo.png" type="image/png">
    <link rel="stylesheet" href="../sass/main.scss">
  </head>

  <body>
    <div id="app">
      <matrix-table></matrix-table>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>
